/examples/audit_package.zip
/examples/tmp
/examples/credentials
/examples/audit_package/
/examples/exclusions.json
dist/
build/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.DS_Store
.pytest_cache